@model Utilities.ViewModels.ReviewViewModels.ReviewUpdateVM
@{
    ViewBag.Title = "Edit Review";
}

<!-- Edit Review Form -->
<div>
    <h1 class="text-center my-5"><small>Edit Review</small></h1>
    <div class="container my-5 w-25">
        @using (Html.BeginForm("Edit", "Review"))
        {
            @Html.HttpMethodOverride(HttpVerbs.Put)

            @Html.HiddenFor(model => model.HairSalonId)

            <div class="text-center">
                <h3><small>@Model.HairSalon.Name</small></h3>
                <hr />
            </div>

            <div class="form-group">
                <label class="control-label" for="rating">Rating:</label>

                <select name="Rating" class="form-control" id="rating" style="font-family: Arial, FontAwesome;" required>
                    <option value="1">&#xf005; &#xf006; &#xf006; &#xf006; &#xf006; Terrible</option>
                    <option value="2">&#xf005; &#xf005;  &#xf006; &#xf006; &#xf006; Bad</option>
                    <option selected value="3">&#xf005; &#xf005; &#xf005; &#xf006; &#xf006; Average</option>
                    <option value="4">&#xf005; &#xf005; &#xf005; &#xf005; &#xf006; Good</option>
                    <option value="5">&#xf005; &#xf005; &#xf005; &#xf005; &#xf005; Excelent</option>
                </select>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", rows = 10 })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mt-3">
                <button id="submitButton" type="submit" class="btn btn-outline-primary btn-block"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
            </div>
        }
    </div>
</div>
<!-- Edit Review Form -->
